<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsl.project.dao.UsersInfoDao">

    <insert id="insertusersinfo">
        insert into usersinfo
        (userid, usersex,userimg,userphone,useraddress,username)
        values (#{userid},#{usersex},#{userimg},
        #{userphone},#{useraddress},#{username})
    </insert>
</mapper>